.App{
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -19vh -2vh auto;
  max-width: 100% auto;
  padding: 30% 12%;
}
.App2{
  background-color:rgb(180, 180, 179);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35% 20% ;
  margin: -10% 4% auto;
  max-width: 100% ;
  text-align: center;
}
#header-d{
  background-color:lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -16vh -13vh auto;
  max-width: 100% auto;
  padding: 5% 12% ;
}
#header-g{
  background-color:lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -16vh -12vh auto;
  max-width: 100% auto;
  padding: 5% 12%;
}
.nav2{
  background-color:rgb(180, 180, 179);
  height: 13vh;
  margin-left: 20vh;
  margin-right: 20vh;

}
.graph-position{
 
  display: flex;
  flex-direction: column;
 
  padding: 0.1% 9%;
  margin: 1.5% -6% auto;
  max-width: 50%;
}
.download-position {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.1% 12%;
  margin: 2% 1% auto;
  max-width: 50%;
}
.preview-position{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% -23% auto;
  max-width: 50%;
  padding: 0.1% 9%;
 
 color: black;
}
.App-header {
  background-color: rgba(246, 246, 250, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vh;
  max-width: 100vh;
  
}

.grahpposition{
  background-color: rgba(246, 246, 250, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40% 60% auto;
  margin: -6% 20% auto;
  max-width: 110%;
  
}

.App-Footer{
  background-color: rgba(246, 246, 250, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4% 4% auto;
  padding: 14% 40% ;
  max-width: 100%;

  

}

.graphing-text{
  margin-top: -5vh;
  margin-left: -34vh;
  margin-bottom: -1vh;
}
.graphing-button{
  margin-top: -7vh;
  margin-left: -20vh;
margin-bottom: 2vh; 
 
}
.groupedby-text{
  margin-top: 1vh;
 margin-left: -34vh;
margin-bottom: 12vh;
}
.groupedby-button{
  margin-top: -20vh;
  margin-left: -17vh;
 margin-bottom: 2vh;
}

.over-text{
  margin-top: -18vh;
  margin-left: 16vh;
padding-bottom: 19vh;
  
}
.over-button{
  margin-top: -27vh;
  margin-left: 25vh;
  margin-bottom: 0.6vh;
}
.btn-xl {
  
  width:20vh;
 
  height:6vh;
  border-radius: 7px;
  background-color: rgba(177, 175, 175, 0.568);
  border-style: none;

}
.optiondiv{
  background-color:rgb(180, 180, 179);
 border-radius: 7px;
 outline: #0d0e0d solid 5px;
text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -14vh -5vh auto;
  max-width: 100% auto;
  padding: 18% 12%;
}
.formatdiv{
  width:15vh;
  padding-top: 1vh;
 text-align: center;
  height:5vh;
  border-radius: 7px 0px 0px 7px;
  background-color: rgba(177, 175, 175, 0.568);
  outline: #0d0e0d solid 2px;
  
}
.csvbutton{
 
  border-radius: 0px 7px 7px 0px;
  background-color: rgba(177, 175, 175, 0.568);
  border-style: none;
  
 
}
.csvbutton2{
  margin-top: -5vh;
  outline: #0d0e0d solid 2px;
  height:5vh;
  width:15vh;
  margin-left: 15.30vh;
  text-align: center;
  padding-top: 1vh;
  border-radius: 0px 7px 7px 0px;
} 
.checkbox{
  margin-top: 3vh;
  padding-left: 1vh;
  height:5vh;
  width:35vh;
  padding-top: 1vh;
  border-radius: 7px 7px 7px 7px;
  background-color: rgba(231, 226, 226, 0.568);
  border-style: none;
  outline: #0d0e0d solid 1px;

}
.checkbox2{
  margin-top: 3vh;
  padding-left: 1vh;
  height:6vh;
  width:35vh;
  padding-top: 1vh;
  border-radius: 7px 7px 7px 7px;
  background-color: rgba(177, 175, 175, 0.568);
  border-style: none;
  outline: #0d0e0d solid 1px;
}
.download{
  background-color: rgba(246, 246, 250, 0.397);
  height:6vh;
  width:25vh;
 margin: 8% 34% auto;
 background-color: rgba(246, 246, 250, 0.397);
 text-align: center;
 border-radius: 7px 7px 7px 7px;
 padding-top: 0.5vh;
 border-style: none;

}
