
  .grahpposition{
    background-color: rgba(246, 246, 250, 0.397);
   margin-left: 25vh;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.1% 12%;
  margin: 2% 4% auto;
  max-width: 50%;
  }
  .csvbutton{
 
    border-radius: 0px 7px 7px 0px;
    background-color: rgba(177, 175, 175, 0.568);
    border-style: none;
    
   
  }