.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 6rem;
  margin: 25px auto;
  max-width: 75%;
  max-height: 25%;
}
.App{
  background-color:lightgray;

  height: 85vh;
padding-top:15px;
 padding-bottom: 15px;
 position: absolute;
margin-left: 20vh;
margin-right: 20vh;

}
.App2{
  background-color:lightgray;

  height: 95vh;
padding-top:15px;
 padding-bottom: 15px;
 position: absolute;
margin-left: 20vh;
margin-right: 20vh;
padding-left: 13vh;;
}



.mov{
  padding-left: 9vh;
}
.preview-position{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 6rem;
  margin: 2vh auto;
  max-width: 15%;
 color: black;
}
.graph-position {
  position: absolute;
  left: 30vh;
  top:2vh;
  padding-top:-3px;
  text-decoration: none;
  color: black;
  
  
}
.download-position {
  padding-top:20px;
  position: absolute;
  left: 53vh;
  top:-1vh;
  text-decoration: none;
  color: black;
}
#App-header {
  background-color: rgba(246, 246, 250, 0.397);
  margin-left: 38vh;
  height:10vh;
  width:70vh; 
  position: relative;
}

.sp{
  padding-top: 8vh;
  text-align: center;
  background-color:rgb(180, 180, 179);
  height:100vh;
}
.qdiv{
 margin-left: 50vh;
 margin-top: 10vh;
 padding-left: 4vh;
 padding-top: 1vh;
 text-align: left;
  height:13vh;
  width:80vh;
  border-radius: 7px 7px 7px 7px;
  outline: #0d0e0d solid 1px;

}
.ans{
  margin-left: 56vh;
  margin-top: 5vh;
  font-size: small;
}

.containers{ 
 margin-left: 8vh;
}
.csvbutton{
 
  border-radius: 0px 7px 7px 0px;
  background-color: rgba(177, 175, 175, 0.568);
  border-style: none;
  
 
}