# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  CI: false
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./root/frontend/package-lock.json
    - run: |
        npm install
      working-directory: ./root/frontend
    - run: |
        npm run build --if-present
      working-directory: ./root/frontend
    - run: |
        mkdir ./backend/src/main/resources/static
        mkdir ./backend/src/main/resources/static/private
        mv ./frontend/build ./frontend/static
        mv ./frontend/static ./backend/src/main/resources/static
      working-directory: ./root
#    - name: Get Credentials
#      run: |
#        echo "The GitHub Action Secret will be masked:  "
#        if [ ${{ secrets.SECRET_REPO }} == "private" ]
#        then
#          echo "got it"
#        fi
#        if [ ${{ secrets.MY_GITHUB_TOKEN }} == "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" ]
#        then
#          echo "got it"
#        fi
    - name: Step 1 - Echo out a GitHub Actions Secret to the logs
      run: |
        git clone https://${{ secrets.MY_GITHUB_TOKEN }}@github.com/thienhuynh98/${{ secrets.SECRET_REPO }}.git
#        cp./root/${{ secrets.SECRET_REPO }}/credentials.json ./backend/src/main/resources/static/private
#        cp./root/${{ secrets.SECRET_REPO }}/socialsentanalysis.json ./backend/src/main/resources/static/private
#        cd ./backend/src/main/resources/static/private



















#    - name: Get Credentials
#      env:
#        SECRET_REPO: ${{ secrets.SECRET_REPO }}
#      run: |
#        cd ..
#        git clone https://${{ secrets.MY_GITHUB_TOKEN }}@github.com/${{ secrets.SECRET_REPO }}.git
#        echo ${{ secrets.SECRET_TOKEN }}
#    - uses: actions/checkout@v3
#    - name: Set up JDK 11
#      uses: actions/setup-java@v3
#      with:
#        java-version: '11'
#        distribution: 'adopt'
#        cache: maven
#    - name: Build with Maven
#      run: |
#        mvn clean package
#      working-directory: ./root/backend
