# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  CI: false
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./root/frontend/package-lock.json
    - run: |
        npm install
      working-directory: ./root/frontend
    - run: |
        npm run build --if-present
      working-directory: ./root/frontend
    - run: |
        mkdir ./backend/src/main/resources/static
        mkdir ./backend/src/main/resources/static/private
        mkdir ./backend/secret
        mv ./frontend/build ./frontend/static
        mv ./frontend/static ./backend/src/main/resources/static
        ls
      working-directory: ./root
    - run: |
        git clone https://${{ secrets.MY_GITHUB_TOKEN }}@github.com/thienhuynh98/${{ secrets.SECRET_REPO }}.git
      working-directory: ./root/backend/secret
    - run: |
        mv ./backend/secret/private ./backend/secret/apple
      working-directory: ./root
    - run: |
        cat credentials.json
      working-directory: ./root/backend/secret/apple
    - run: |
        ls
      working-directory: ./root/backend/secret/apple
    - name: Decrypt secrets
      uses: zgosalvez/github-actions-decrypt-secrets@v1
      with:
        secrets_file: .github/workflows/credentials.json.gpg
        map: 'REDDIT-USER-AGENT=redditUserAgent,REDDIT-APP-ID=redditAppId,TWITTER-APP-ID=twitterAppId,TWITTER-APP-SECRET=twitterAppSecret,REDDIT-APP-SECRET=redditAppSecret,TWITTER-USER-AGENT=twitterUserAgent,YOUTUBE-API-KEY=youtubeApiKey,YOUTUBE-USER-AGENT=youtubeUserAgent'
      env:
        GPG_PASSPHRASE: ${{ secrets.SECRETS_PASSPHRASE }}
        - name: Test (Do not expose your actual secrets!)
          run: |
            echo $REDDIT-USER-AGENT
#    - uses: actions/setup-java@v3
#      with:
#        distribution: 'adopt'
#        java-version: '11'
#        cache: 'maven'
#    - run: |
#        ls
#      working-directory: ./root/backend/secret/apple
#    - run: mvn clean package
#      working-directory: ./root/backend


